<nav>
    <ul>
        {% for entry in nav.pages %}
        <li  class="link {% if entry.url == page.url %}active{% endif %}">
            <a href="{{ entry.url }}">{{ entry.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
