$monument: "MonumentExtended-Regular";
$suisse: "SuisseIntl-Regular";
$canela: "Canela-Regular";

$cubic-bezier-1: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$cubic-bezier-2:cubic-bezier(0.79, 0.31, 0, 0.93);

$c-black: #000;
$c-white: #fff;

$container-padding-desktop: 10px;
$container-padding-mobile: 10px;

$border-radius: 30px;

:root{
    --accent-color: #000;
}