footer{
    overflow: hidden;
    margin: 14vh 10px 40px;
    padding-bottom: 2rem;
    &.is-inview{
        transition: all 2s $cubic-bezier-2 .4s;
        opacity: 1;
        .anim{
            transform: translateY(0);
        }
    }
    .footer__one{
        text-align: center;
        .contact__mail{
            margin-top: 1.3rem;
            font-family: 'MonumentExtended-Regular';
            font-size: 5vw;
        }
    }
    .footer__two{
        @include media(">desktop"){
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
        /* min-height: 60px; */
        height: auto;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: all 2s $cubic-bezier-2;

        .design-rush{
            margin-top: .5rem;
            // font-size: 14px;
            font-size: 1.5vh;
            max-width: 70%;
        }
        ul{
            margin-top: 2.5rem;

            @include media(">desktop"){
                margin-top: 0;
            }
            li{
                text-transform: uppercase;
                display: inline-block;
                list-style: none;
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }
}