footer{
    overflow: hidden;
    margin: 14vh 10px 40px;
    padding-bottom: 2rem;
    .footer__one{
        text-align: center;

        .contact__mail{
            font-family: 'MonumentExtended-Regular';
            font-size: 5vw;
        }
    }

    .footer__two{
        /* min-height: 60px; */
        height: auto;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: all 2s $cubic-bezier-2;

        ul{
            margin-top: 1rem;
            li{
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 900px){
    footer .footer__two{
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    footer ul{
        margin-top: 0;
    }
}