header{
    height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999999;
    text-transform: uppercase;
    background: linear-gradient(180deg, var(--accent-color) 0%, rgba(0, 0, 0, 0) 88.96%);
    background: -o-linear-gradient(top, var(--accent-color) 0%, rgba(0, 0, 0, 0) 88.96%);
    background: -webkit-gradient(linear, left top, left bottom, from(var(--accent-color)), color-stop(88.96%, rgba(0, 0, 0, 0)));
    nav{
        li{
            display: inline-block;
            list-style: none;
            &:not(:last-child){
                margin-right: 15px;
            }
            a{
                @include media(">desktop"){
                    text-transform: uppercase;
                    padding: 10px 40px;
                    border: solid 1px;
                    border-radius: 30px;
                    border-radius: 4vw;
                    font-size: .8rem;
                }
            }
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
}
