.about__page{
    .about__introduction{
        h1{
            text-align: center;

        }
        img{
            width: 100vw; // Full width even on wide screens
        }
    }
    h2{
        font-family: "SuisseIntl-Regular";
    }
    p{
        font-size: calc( 100vw / 375 * 15 );
    }
    small{
        transition: all .1s ease;
        &.is-inview{
            padding-top: 100px;

        }
    }
    blockquote{
        font-size: calc(100vw / 920 * 49);
        text-align: center;
        max-width: 900px;
        margin: 100px auto;
    }
}

@media screen and (min-width: 900px){
    .about__page p{
        line-height: 1.2;
        font-size: calc( 100vw / 900 * 15 );
    }
}
