.about__page{
    line-height: 1.2;
    .about__introduction{
        h1{
            text-align: center;
            font-size: 9vw;
            max-width: 700px;
            margin: 0 auto;
            position: relative;
        }
        .image__wrapper{
            height: 0;
            position: relative;
            padding-bottom: 100%;
            width: 100vw;
            background-color: grey;
            /* margin-top: -100px; */
            /* padding: 0 10px; */
            @include media(">desktop"){
                width: calc(100vw - 20px);
                border-radius: 30px;
                margin-left: 10px;
                margin-right: 10px;
            }
            overflow: hidden;
            img{
                width: 100vw;
                position: absolute;
                max-width: unset;
                // width: 100vw; // Full width even on wide screens 
                // @include media(">desktop"){
                //     margin-top: -100px;
                //     // padding: 0 $container-padding-mobile;
                //     // border-radius: $border-radius;
                // }
            }
        }
    }
    .little__intro{
        @extend %container;
        max-width: 1130px;
        margin-top: 4rem;
        margin-bottom: 6rem;
        h2{
            font-family: "SuisseIntl-Regular";
            font-size: 7vw;
            text-transform: uppercase;
        }
    }
    hr{
        @extend %container;
    }
    .location__time{
        @extend %container;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 200px;
        .label{
            margin-bottom: .4rem;
            font-size: 1.15rem;
        }
        p, output{
            font-size: 1.4rem;
        }
        .location{
            display: flex;
            flex-direction: column;
        }
        .locale__time{
            display: flex;
            flex-direction: column;
            text-align: end;
        }
        
    }
    .presentation{
        @extend %container;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .about__languages{
        ul{
            width: 50%;
            display: flex;
            flex-direction: column;
            height: 150px;
            flex-wrap: wrap;
            li{
                .accent{
                    color: greenyellow;
                    font-size: .4rem;
                }
            }
        }
    }
    .about__tools{
        li{
            .accent{
                color: greenyellow;
                font-size: .4rem;
            }
        }
    }
    .about__education{
        min-height: 60vh;
        .education__logos{
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            justify-content: space-between;
            gap: 40px;
            li{
                margin-right: 85px;
                flex: auto;
                align-self: flex-start;
                svg{
                    width: auto;
                    display: block;
                    position: relative;
                    height: 2rem;
                }
                figcaption{
                    // display: none;
                    opacity: .5;
                    margin-top: 10px;
                }
            }
        
        }
    }
    .about__long-description{
        flex-direction: column;
        p{
            font-size: 1.3rem;
            width: auto !important;
        }
        @include media(">desktop"){
            flex-direction: unset;
            p{
                width: 50% !important;
            }
            .about__more{
                margin-right: 40px;
                line-height: 1.4;
            }
        }
        .image__wrapper{
            --time: 1.2s;
            width: 100%;
            overflow: hidden;
            transition: all var(--time) ease-in-out;
            @include media(">desktop"){
                width: 50%;
                border-radius: $border-radius;
                // img{
                //     border-radius: $border-radius;
                // }
            }
            &:hover{
                transform: scale(0.9);
            
                & img{
                        transform: scale(1.5);
                }
    

            }
            img{
                transition: all var(--time) ease-in-out;
                width: 100%;
                
            }
        }
    }
    .section-50{
        @extend %container;
        height: auto;
        margin-top:80px;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        small{
            align-self: flex-start;
            width: 50%;
        }
        p{
            width: 50%;
        }
        ul{
            width: 50%;
        }
    }
    // p{
    //     font-size: calc( 100vw / 375 * 15 );
    // }
    small{
        transition: all .1s ease;
        &.is-inview{
            padding-top: 100px;

        }
    }
    .my-philosophy{
        @extend %container;
        blockquote{
            font-size: calc(100vw / 920 * 49);
            text-align: center;
            max-width: 900px;
            margin: 100px auto;
        }
    }
}