.index section, footer{
    opacity: 0;
    transition: all 2s $cubic-bezier-2 .1s;
    
}
footer{
    &.is-inview{
        transition: all 2s $cubic-bezier-2 .4s;

        opacity: 1;
        .anim{
            transform: translateY(0);
        }
    }
}

.index:not(.loading){
    .is-inview{
        transition: all 2s $cubic-bezier-2 .4s;

        opacity: 1;
        .anim{
            transform: translateY(0);
        }
    }
}


.index__page{
    section{
        h1{
            margin-bottom: 1.115rem;
        }
        h2{
            margin-bottom: 1.015rem;
        }
    }
    .index__hero{
        @extend %container;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        font-size: 7vw;
        text-transform: uppercase;
        p{
            font-size: 1.3rem;
            max-width: 680px;
        }
        @include media(">1000px"){
            position: relative;
            width: 100%;
            height: calc(100vh - 15rem);
            .hero-text{
                // width: 50%;
                margin-top: 3rem;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                h1{
                    font-size: 7rem;
                    max-width: 1050px;
                    text-transform: uppercase;
                }
            }
            .image-side{
                // width: 50%;
                .image__wrapper{
                    border-radius: $border-radius;
                    overflow: hidden;
                    transform: rotate(6.46deg);
                    width: 24.2rem;
                    height: 31.05rem;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    right: 4rem;
                    mix-blend-mode: difference;
                    transform: translateY(-50%) rotate(6.46deg);
                }
                img{
                    object-fit: cover;
                    height: 100%;
                }
                
            }
        }
    }
    .index__right-text{
        text-transform: uppercase;
        @extend %container;
        margin-top: 150px;
        margin-left: 50%;
        margin-bottom: 150px;
    }
    .index__big-image{
        margin: 150px 0;
        width: 100%;
        height: 700px;
        position: relative;
    }
    .index__left-text{
        text-transform: uppercase;
        @extend %container;
        margin-top: 150px;
        margin-right: 50%;
        margin-bottom: 150px;
    }
    .navigation__section{
        margin-bottom: 100px;
        @extend %container;
        small{
            text-transform: uppercase;
        }
        nav{
            ul{
                .link{
                    text-transform: uppercase;
                    font-size: 12vw;
                    font-family: $monument;
                    &:not(:last-child){
                        margin-bottom: 1.015rem;
                    }
                    &:nth-child(2n){
                        margin-left: 50%;
                    }
                    a{
                        -webkit-text-stroke: white 1px;
                        &:hover{
                            color: transparent;
                        }
                    }
                }
            }
        }
    }
}