.index section, footer{
    opacity: 0;
    transition: all 2s cubic-bezier(0.79, 0.31, 0, 0.93);
    &.is-inview{
        opacity: 1;
        .anim{
            transform: translateY(0);
        }
    }
}