.work__page{
    @extend %container;
    h1{
        text-transform: uppercase;
        font-size: 9vw;
        text-align: center;
    }
    section{
        @include media(">desktop"){
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 1fr 1fr 1fr;
            gap: 10px 2vw;
        }
        .image__wrapper{
            position: relative;
            p{
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
                background: black;
                padding: .7rem 3rem;
                border-radius: 30px;
                font-size: .75rem;
            }
            
            .img{
                padding-top: 56.25%;
                height: 0;
                overflow: hidden;
                background:greenyellow;
                margin-top: 1.3rem;
            }
        }
    }
}