<!DOCTYPE html>
<html lang="en">
<head>
{% include head %}
</head>
<body class="{{bodyClass}}">
    {{ content }}

    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>
</html>