body {
    background-color: black;
    color: white;
    font-family: $suisse;
    font-weight: normal;
    transition: all 1.6s $cubic-bezier-1;
    overflow: hidden;
    width: 100%;

}

h1,
h2,
h3 {
    font-family: $monument;
    font-weight: normal;
}

a{
    transition: all .7s $cubic-bezier-1;
    &:hover{
        opacity: .6;
    }
}


.container{
    padding-top: 150px;
}

.canela{
    font-family: $canela;
}

.monument{
    font-family: $monument;
}