body {
    background-color: $c-black;
    color: $c-white;
    font-family: $suisse;
    font-weight: normal;
    transition: all 1.6s $cubic-bezier-1;
    overflow: hidden;
    width: 100%;
    font-size: calc(100vw / 320 * 10);
    @include media(">tablet"){
        font-size: calc(100vw / 768 * 10);
    }

}

h1,
h2,
h3 {
    font-family: $monument;
    font-weight: normal;
}

a{
    transition: all .7s $cubic-bezier-1;
    &:hover{
        opacity: .6;
    }
}

.background__shape {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -10;
}


.container{
    padding-top: 150px;
}

.canela{
    font-family: $canela;
}

.monument{
    font-family: $monument;
}

.visually-hidden{
    visibility: hidden;
}
.uppercase{
    text-transform: uppercase;
}