@import '../utils/variables';

@font-face {
    font-family: $monument;
    src: url('/src/fonts/MonumentExtended-Regular.woff2') format('woff2');
    src: url('/src/fonts/MonumentExtended-Regular.woff') format('woff'),
        url('/src/fonts/MonumentExtended-Regular.otf'),
        url('/src/fonts/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/MonumentExtended-Regular.svg#MonumentExtended-Regular') format('svg'),
        url('/src/fonts/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $suisse;
    src: url('/src/fonts/SuisseIntl-Regular.eot');
    src: url('/src/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('/src/fonts/SuisseIntl-Regular.woff') format('woff'),
        url('/src/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg'),
        url('/src/fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $canela;
    src: url('/src/fonts/Canela-Regular.eot');
    src: url('/src/fonts/Canela-Regular.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Canela-Regular.svg#Canela-Regular') format('svg'),
        url('/src/fonts/Canela-Regular.ttf') format('truetype'),
        url('/src/fonts/Canela-Regular.woff') format('woff'),
        url('/src/fonts/Canela-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}