---
layout: default.liquid
title: "About Harold AO"
description: about
bodyClass: "about"
---

<div class="about__page">
    <section class="about__introduction" data-scroll>
        <h1 data-splitting>ABOUT ME</h1>
        <h1 class="display-none">ABOUT ME</h1>
        <img loading="lazy" src="https://ucarecdn.com/68a251d4-fdd8-46c3-8af6-747039219301/-/format/webp/" alt="Harold AO portrait">
    </section>
    <section class="little__intro">
        <h2>Hi. I am Harold AO. I'm a young 17 year-old developer and designer.</h2>
    </section>
    <hr>
    <section class="location__time">
        <div class="location">
            <span class="label">Location</span>
            <p>Poitiers (France)</p>
        </div>
        <div class="locale__time">
            <span class="label">Time</span>
            {%- comment -%}@see tz database time zones{%- endcomment -%}
            <output data-timezone="Europe/Paris"></output>
        </div>
    </section>
    <section class="presentation">
        <p>I have 4+ years of experience working on side-projects and with clients. ... But my skills don't stop there. I'm constantly looking for learning new things and new experiences in this vast world of creativity. Through this, I have learned self-taught web development, UI design, graphic design, and some video animation (motion design).</p>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky" class="about__info section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky" data-scroll-repeat="true">INFO</small>
        <p data-scroll class=""> I have 4+ years of experience working on side-projects and with clients.
        ... But my skills don't stop there. I'm constantly looking for learning new things and new experiences in this vast world of creativity.
        Through this, I have learned self-taught web development, UI design, graphic design, and some video animation (motion design).</p>
    </section>

    <section data-scroll-repeat="true" data-scroll id="sticky-2" class="about__education section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-2" data-scroll-repeat="true">Education</small>
        <!-- Images/Logos here -->
        <ul class="education__logos">
            <li class="superhi">
                <figure>
                    {% include icon-superhi %}
                    <figcaption>Superhi</figcaption>
                </figure>
            </li>
            <li class="freecodecamp">
                <figure>
                    {% include icon-freecodecamp %}
                    <figcaption>Freecodecamp</figcaption>
                </figure>
            </li>
            <li class="scrimba">
                <figure>
                    {% include icon-scrimba %}
                    <figcaption>Scrimba</figcaption>
                </figure>
            </li>
            <li class="awwwards-academy">
                <figure>
                    {% include icon-awwwards-academy %}
                    <figcaption>Awwwards Academy</figcaption>
                </figure>
            </li>
            <li class="google-digital-garage">
                <figure>
                    {% include icon-google-digital-garage %}
                    <figcaption>Google Digital Garage</figcaption>
                </figure>
            </li>
            <li class="youtube">
                <figure>
                    {% include icon-youtube %}
                    <figcaption>Youtube Videos</figcaption>
                </figure>
            </li>
        </ul>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky3" class="about__languages section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky3" data-scroll-repeat="true">Programming Languages</small>
        <ul>
            <li>- HTML/CSS</li>
            <li>- Javascript</li>
            <li>- ReactJS</li>
            <li>- GatsbyJS</li>
            <li>- Python</li>
            <li>- Sqlite</li>
            <li>- Scss</li>
            <li>- NodeJS</li>
            <li>- Liquid</li>
            <li>
                - Pug
                <span class="accent">(In progress)</span>
            </li>
        </ul>
    </section>
    <section class="about__tools section-50 uppercase">
        <small>Tools</small>
        <!-- Software -->
        <ul>
            <li>- Photoshop</li>
            <li>- VS Code</li>
            <li>- Illustrator</li>
            <li>- After Effects</li>
            <li>- Figma</li>
            <li>- Blender</li>
            <li>
                - Cinema 4D
                <span class="accent">(Beginner Level)</span>
            </li>
            <li>- Premiere Pro</li>
            <li>- Notion</li>
        </ul>
    </section>

    <section class="about__long-description section-50 uppercase">
        <p>I was born on 29th december 2003 in Poitiers, in France. 🇫🇷
        It is with motivation and ambition that I wish to develop my skills from day to day because I want to continue to
        learn and create beautiful things...
        <br>
        <br>
        My creative fields:
        <br>
        + Web / Digital Design
        <br>
        + Animation / Motion Design
        <br>
        + Graphic Design
        <br>
        + Brand identity
        <br>
        +Video Editing
        <br>
        + Packaging Design
        </p>
        <div class="image__wrapper">
            <img src="https://ucarecdn.com/04464664-bd9f-44a1-b6f5-4070140248c7/-/format/webp/" alt="Computer on a desk">
        </div>
    </section>

    <section class="my-philosophy" data-scroll data-scroll-speed="2">
        <blockquote class="canela">
            To create compelling websites, design, and experiences, I use my critical thinking skills and keen eye for details.
        </blockquote>
    </section>
</div>