---
layout: default.liquid
title: "about"
description: about
---

<h1>ABOUT ME</h1>
<img loading="lazy" src="https://ucarecdn.com/68a251d4-fdd8-46c3-8af6-747039219301/-/format/webp/" alt="Harold AO portrait">
<h2>Hi. I am Harold AO. I'm a young 17 years-old developer and designer.</h2>

<hr>

<span>Location</span>
<span>Poitiers (France)</span>

<span>Time</span>
<span>12:12AM</span>

<p>I have 4+ years of experience working on side-projects and with clients.
... But my skills don't stop there. I'm constantly looking for learning new things and new experiences in this vast
world of creativity.
Through this, I have learned self-taught web development, UI design, graphic design, and some video animation
(motion design).</p>

<small>INFO</small>
<p>I have 4+ years of experience working on side-projects and with clients.
... But my skills don't stop there. I'm constantly looking for learning new things and new experiences in this vast world of creativity.
Through this, I have learned self-taught web development, UI design, graphic design, and some video animation (motion design).</p>

<small>EDUCATION</small>
<!-- Images/Logos here -->

<small>TOOLS</small>
<!-- Software -->

<p>I was Born on 29tH DECEMBER 2003 in Poitiers, in France. 🇫🇷
It is with motivation and ambition that I wish to develop my skills from day to day because I want to continue to
learn and create beautiful things...
My creative fields:
Web / Digital Design
Animation / Motion Design
Graphic Design
Brand identity
Video Editing
Packaging Design
</p>