---
layout: default.liquid
title: "About | Harold AO"
description: Harold AO is a 18-year-old Young Developer and Designer based in France. He learned Design and Web development by himself.
bodyClass: "about"
---

<div class="about__page">
    <section class="about__introduction" data-scroll>
        <h1 data-splitting>ABOUT ME</h1>
        <h1 class="display-none">ABOUT ME</h1>
        <div class="image__wrapper">
            <img loading="lazy" src="https://ucarecdn.com/68a251d4-fdd8-46c3-8af6-747039219301/-/format/webp/" alt="Harold AO portrait">
        </div>
    </section>
    <section class="little__intro anim-scroll overflow-h" data-scroll>
        <h2 class="anim-scroll_element">Hi. I am Harold AO. I'm a young 18 year-old developer and designer.</h2>
    </section>
    <div class="anim-hr" data-scroll>
        <hr class="anim-hr_element">
    </div>
    <section class="location__time">
        <div class="location">
            <span class="label">Location</span>
            <p>Poitiers (France)</p>
        </div>
        <div class="locale__time">
            <span class="label">Time</span>
            {%- comment -%}@see tz database time zones{%- endcomment -%}
            <output data-timezone="Europe/Paris"></output>
        </div>
    </section>
    <section class="presentation anim-text" data-scroll data-scroll-repeat="false">
        <p class="anim-text_element">I have 4+ years of experience working on side-projects and with clients. ... But my skills don't stop there. I'm constantly looking for learning new things and new experiences in this vast world of creativity. Through this, I have learned self-taught web development, UI design, graphic design, and some video animation (motion design).</p>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky" class="about__info section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky" data-scroll-repeat="true">INFO</small>
        <p data-scroll class=""> 
            My creative fields:
            <br>
            <br>
            + Web / Digital Design
            <br>
            + Animation / Motion Design
            <br>
            + Graphic Design
            <br>
            + Brand identity
            <br>
            +Video Editing
            <br>
            + Packaging Design
        </p>
    </section>

    <section data-scroll-repeat="true" data-scroll id="sticky-2" class="about__education section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-2" data-scroll-repeat="true">Education</small>
        <!-- Images/Logos here -->
        <ul class="education__logos">
            <li class="superhi">
                <figure>
                    {% include icon-superhi %}
                    <figcaption>Superhi</figcaption>
                </figure>
            </li>
            <li class="freecodecamp">
                <figure>
                    {% include icon-freecodecamp %}
                    <figcaption>Freecodecamp</figcaption>
                </figure>
            </li>
            <li class="scrimba">
                <figure>
                    {% include icon-scrimba %}
                    <figcaption>Scrimba</figcaption>
                </figure>
            </li>
            <li class="awwwards-academy">
                <figure>
                    {% include icon-awwwards-academy %}
                    <figcaption>Awwwards Academy</figcaption>
                </figure>
            </li>
            <li class="google-digital-garage">
                <figure>
                    {% include icon-google-digital-garage %}
                    <figcaption>Google Digital Garage</figcaption>
                </figure>
            </li>
            <li class="youtube">
                <figure>
                    {% include icon-youtube %}
                    <figcaption>Youtube Videos</figcaption>
                </figure>
            </li>
            <li class="threejs-journey">
                <figure>
                    {% include icon-threejs-journey %}
                    <figcaption>ThreeJS Journey</figcaption>
                </figure>
            </li>
        </ul>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky-3" class="about__languages section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-3" data-scroll-repeat="true">Programming Languages & Others</small>
        <ul>
            <li>- HTML/CSS</li>
            <li>- Javascript</li>
            <li>- Python</li>
            <li>- Sqlite</li>
            <li>- Scss</li>
            <li>- NodeJS</li>
            <li>- Liquid</li>
            <li>- Parcel</li>
            <li>- Webpack</li>
            <li>- RollupJS</li>
            <li>- NPM</li>
            <li>- Gsap</li>
            <li>- Netlify (CMS)</li>
            <li>- Prismic (CMS)</li>
            <li>- Git(Hub)</li>
            <li>
                - ThreeJS
                <span class="accent">(In progress)</span>
            </li>
        </ul>
    </section>
    <section data-scroll-repeat="true" data-scroll id="sticky-4" class="about__tools section-50 uppercase">
        <small data-scroll data-scroll-sticky data-scroll-target="#sticky-4" data-scroll-repeat="true">Tools</small>
        <!-- Software -->
        <ul>
            <li>- Photoshop</li>
            <li>- VS Code</li>
            <li>- Illustrator</li>
            <li>- After Effects</li>
            <li>- Figma</li>
            <li>- Blender</li>
            <li>
                - Cinema 4D
                <span class="accent">(Beginner Level)</span>
            </li>
            <li>- Premiere Pro</li>
            <li>- Notion</li>
        </ul>
    </section>

    <section class="about__long-description section-50 uppercase">
        {% capture about_more %}
            I was born on 29th December 2003 in Poitiers, in France. 🇫🇷 .
            I always knew I wanted to be a developer since the age of 12...

            But in 2014, something special happened. I started making YouTube videos and knowing that I'm a bit of a stickler for details and a perfectionist, I designed my YouTube banner and video thumbnails: that's how I got into the design business.

            As my design skills grew, I thought why not offer my skills to other youtubers. That's how I started to get clients and to make YouTube thumbnails and banners.

            In April 2018, I did a internship in a web agency (<a href="https://webimpulse.fr">Web Impulse</a>). This agency is specialized in website creation and web development. This internship confirmed my choice to make web development my livelihood. It's at this period that I started to work on UI Design (in addition to Graphic Design).

            In February 2019, I said to myself why not do the #100daysofcode (a challenge that consists in learning a lot of things related to code in 100 days) and share my progress with other developers. That's what I did. I had opened my Instagram account (<a href="https://haroldao.com/instagram">harold.ao</a> previously <a href="https://instagram.com/harold.codes">harold.codes</a>). At that point, I took web development seriously.

            It is with motivation and ambition that I wish to develop my skills from day to day because I want to continue to learn and create beautiful things.

        {% endcapture %}
        <p class="about__more">
            {{ about_more | newline_to_br }}
        </p>
        <div class="image__wrapper">
            <img src="https://ucarecdn.com/04464664-bd9f-44a1-b6f5-4070140248c7/-/format/webp/"
                alt="Computer on a desk">
        </div>
    </section>

    <section class="my-philosophy" data-scroll data-scroll-speed="2">
        <blockquote class="canela">
            To create compelling websites, designs, and experiences, I use my critical thinking skills and keen eye for details.
        </blockquote>
    </section>
</div>
