---
layout: default.liquid
title: "Harold AO"
description: Harold is a 17 year old Web Developer & UI Designer.
---

<section>
    <div class="">
        <h1>WEB DEVELOPER + DESIGNER</h1>
        <p>I HAVE 4+ YEARS EXPERIENCE IN DESIGN  AND 3+ YEARS IN WEB DEVELOPMENT</p>  
    </div>
    <div>
        <img src="https://ucarecdn.com/7e98e68f-b5b1-49fd-a2a6-fb14febf8689/-/format/webp/" alt="Harold AO">
    </div>
</section>

<section>
    <h2>IT’S WITH MOTIVATION AND AMBITION</h2>
    <p>Aliqua reprehenderit Lorem quis ad nostrud exercitation excepteur et eiusmod id cupidatat magna tempor nostrud. Commodo dolor do minim nostrud esse voluptate qui proident elit adipisicing. Ex ipsum sint pariatur consectetur amet et enim ex.</p>
</section>


<section style="width: 100%; height: 700px; position: relative;">
    <img src="https://ucarecdn.com/ba2d82e4-2fa4-497c-9665-ee1fb7112484/-/format/webp/" alt="Harold AO in a library" style="position: absolute;top: 0;left: 0;width: 100%;object-fit: cover;height: 100%;">
</section>

<section>
    <h2>IT’S WITH MOTIVATION AND AMBITION</h2>
    <p>Aliqua reprehenderit Lorem quis ad nostrud exercitation excepteur et eiusmod id cupidatat magna tempor nostrud. Commodo dolor do minim nostrud esse voluptate qui proident elit adipisicing. Ex ipsum sint pariatur consectetur amet et enim ex.</p>
</section>

<section>
    <small>USEFUL PAGES ↗</small>
    {% include nav %}
</section>
