---
layout: default.liquid
title: "Harold AO - Self taught Creative Developer & Designer"
bodyClass: "index"
---

<div class="index__page">
    <section data-scroll class="index__hero">
        <div class="hero-text">
            <h1>web developer + designer</h1>
            <p>I have 4+ years experience in design and 3+ years in web development</p>  
        </div>
        <div class="image-side">
            <div class="image__wrapper">
                <img loading="lazy" src="https://res.cloudinary.com/haroldao/image/upload/v1623423068/Harold%20AO%20Side%20picture.webp" alt="Harold AO">
            </div>
        </div>
    </section>

    <section data-scroll class="index__right-text">
        <h2>Bonjour, as we say here</h2>
        <p>My name is Harold AO. I'm a 17 year-old French front-end developer and ui/graphic designer based in france (but worldwilde working). I'm available for projects, collaborations and experiments.</p>
    </section>


    <section class="index__big-image" data-scroll>
        <img loading="lazy" src="https://ucarecdn.com/ba2d82e4-2fa4-497c-9665-ee1fb7112484/-/format/webp/" alt="Harold AO in a library" style="position: absolute;top: 0;left: 0;width: 100%;object-fit: cover;height: 100%;">
    </section>

    <section data-scroll class="index__left-text">
        <h2>Always Be Creative</h2>
        <p>This is my philosophy. I started Graphic Design while I was doing Youtube Videos few years ago. Since that, I started working with youtubers. Now I do Graphic Design + UI Design and I bring my work to life through front-end development.</p>
    </section>

    <section data-scroll class="navigation__section">
        <small>useful pages ↗</small>
        {% include nav %}
    </section>
</div>