---
layout: default.liquid
description: "On this page you can find every uses related to Harold AO 😊"
bodyClass: "uses"
title: "Uses | Harold AO"
---

<div class="uses__page">
    <h1 data-splitting>What I use</h1>
    <h1 class="display-none">What I use</h1>
    <section>
        <div data-scroll data-scroll-speed="1.7" data-scroll-delay="1.3" class="hardware part">
            <div class="overflow-h"><h2>Hardware</h2></div>
            <h3>Asus UX 430(UA)</h3>
            <h3>iPhone 5s (Silver 16GB)</h3>
            <h3>iPhone 6s (Silver 32GB)</h3>
            <h3>iPhone 12 (Black 64GB)</h3>
            <h3>Airpods 2</h3>
            <h3>Airpods PRO</h3>
            <h3>Apple watch 1</h3>
            <h3>Google Home Mini (Grey)</h3>
            <h3>Zendure A8 - External battery</h3>
        </div>
        <div data-scroll data-scroll-speed="1.4" data-scroll-delay="1" class="software__desktop part">
            <div class="overflow-h"><h2>Software Desktop</h2></div>
            <h3>Vivaldi - Browser</h3>
            <h3>Visual studio code</h3>
            <h3>Figma - UI Design</h3>
            <h3>Notion - Note Taking</h3>
            <h3>NordVPN</h3>
        </div> 
        <div data-scroll data-scroll-speed="3.3" data-scroll-delay="0.3" class="software__mobile part">
            <div class="overflow-h"><h2>Software Mobile</h2></div>
            <h3>(Apple) Fitness</h3>
            <h3>Slack</h3>
            <h3>Kard - My bank</h3>
            <h3>Revolut - My bank</h3>
            <h3>Revolut Business - My bank</h3>
            <h3>Stripe</h3>
            <h3>Flightradar24</h3>
            <h3>Captions - Add auto-caption to your videos</h3>
            <h3>Chrome</h3>
            <h3>NordVPN</h3>
            <h3>Moises - Vocal remover & Mastering </h3>
            <h3>Product Hunt</h3>
            <h3>MolotovTV</h3>
            <h3>Kraken - Crypto</h3>
            <h3>Bitwarden - Passwords manager</h3>
        </div>
        <div data-scroll data-scroll-speed="2" class="technologies part">
            <div class="overflow-h"><h2>Tech Stack</h2></div>
            <a href="/about">Click me to see 👀</a>
        </div>
        <div data-scroll data-scroll-speed="4" class="websites part">
            <div class="overflow-h"><h2>Websites I use usually</h2></div>
            <h3>
                <a href="https://www.ovh.com/">OVH - Domain name</a>
            </h3>
            <h3>
                <a href="https://www.producthunt.com/">ProductHunt</a>
            </h3>
            <h3>
                <a href="https://www.google.com/calendar">Google Calendar</a>
            </h3>
            <h3>
                <a href="https://www.awwwards.com/">Awwwards</a>
            </h3>
            <h3>
                <a href="https://type-scale.com/">type scale</a>
            </h3>
            <h3>
                <a href="https://www.typewolf.com/">typewolf</a>
            </h3>
            <h3>
                <a href="https://fontsinuse.com/">fontsinuse</a>
            </h3>
            <h3>
                <a href="https://www.lapa.ninja/">lapa ninja</a>
            </h3>
            <h3>
                <a href="https://www.landingfolio.com/">Landingfolio</a>
            </h3>
            <h3>
                <a href="https://maxibestof.one/">maxibestof one</a>
            </h3>
            <h3>
                <a href="https://saaslandingpage.com/">saas landing page</a>
            </h3>
            <h3>
                <a href="https://tympanus.net/codrops/">tympanus (codrops)</a>
            </h3>
        </div>
    </section>
</div>
